.mainContent {
  flex: 1;
  padding-left: 80px; 
  transition: padding-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  height: 100vh; 
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  font-family: 'Commissioner', sans-serif;
}

.mainContent.active {
  padding-left: 280px;
}

.navbarSpacer {
  height: 70px; 
  width: 100%;
  flex-shrink: 0;
}

.content {
  flex: 1;
  width: 100%;
  overflow-y: auto; 
  overflow-x: hidden;
  padding-left:1rem;
  padding-right: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 3rem;
}
.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.5);
  border-radius: 4px;
}

.content::-webkit-scrollbar-thumb {
  background: rgba(71, 85, 105, 0.5);
  border-radius: 4px;
  transition: background 0.3s;
}

.content::-webkit-scrollbar-thumb:hover {
  background: rgba(71, 85, 105, 0.8);
}

@media (max-width: 1024px) {
  .mainContent {
    padding-left: 75px; 
  
  }

  .mainContent.active {
    padding-left: 240px;
  }

  .content {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  .mainContent {
    padding-left: 0px; 
  }

  .mainContent.active {
    margin-left: 0;
    padding-left: 0;
  }

  .navbarSpacer {
    height: 64px;
  }

  .content {
    padding: 0;
  }
}

@media (max-width: 640px) {
  .content {
    padding: 0;
  }

}

@media (max-width: 480px) {

}